body {
    font-family: 'Orbitron', sans-serif;
}

#calculatorHere {
    height: 500px;
    width: 400px;
    background-color: rgb(172, 230, 172);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
   
    justify-content: center;
}
h1 {
    font-size: 50px;
    color: white;
}

#answerZone {
    
    height: 50px;
    width: 275px;
    background-color: lightslategray;
    color: rgb(235, 98, 201);
    font-size: 30px;
    text-align: center; 
    padding-top: 20px;
    
    float: center;
    
    
}

#valueInputs {
    padding-bottom: 10px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    
}
button:focus {
outline: none;
}
#buttonArea {
    padding-top: 15px;
}

#numButtons {
    padding-top: 15px;
}